<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="filter-container">
        <span>filter:</span>

        <input type="radio" name="filter" value="all" [(ngModel)] = 'selectFilterRadioButton' 
        (change)="onFilterChange()"
        />
        <span>{{"all ("+all+")"}}</span>

        <input type="radio" name="filter" value="true" [(ngModel)] = 'selectFilterRadioButton'
        (change)="onFilterChange()"/>
        <span>{{"InStock ("+InStock+")"}}</span>

        <input type="radio" name="filter" value="false" [(ngModel)] = 'selectFilterRadioButton'
        (change)="onFilterChange()"/>
        <span>{{"OutOf Stock ("+OutOfStock+")"}}</span>
    </div>
</body>
</html>
